/*Colors*/
$clr:       255;

$bodyClr:         rgba($clr, $clr - 24 , $clr - 23, 1);
$logoClr:         rgba($clr - 28,   $clr - 88,  $clr - 220, 1);
$navClr:          rgba($clr - 228,  $clr - 212, $clr - 205, 1);
$baisClr:         rgba($clr - 200,  $clr - 155, $clr - 144, 1);  
$hotClr:          rgba($clr - 66,   $clr - 205, $clr - 212, 1);

/*Width*/
$width1:        100%;
$width2:        $width1 / 2;
$width3:        $width1 / 3;
$width4:        $width1 / 4;
$width5:        $width1 / 5;  
$width6:        $width1 / 6;
$width7:        $width1 / 7;
$width8:        $width1 / 8;
$width9:        $width1 / 9;
$width10:       $width1 / 10;
$width11:       $width1 / 11;
$width12:       $width1 / 12;

/*Fonts*/


